.full-width {
	width: 100%;
}

#sat-bkgrnd {
	background-color: #f6f6f6;
	height: 100vh;
/*	-webkit-filter: blur(20px);
	filter: blur(10px);*/
}

/*#code-bkgrnd {
	position: absolute;
	top: 25%;
	background-color: #fff;
	height: 100vh;
	width: 100vw;
	-webkit-filter: blur(20px);
	filter: blur(10px);

}

#cart-bkgrnd {
	position: absolute;
	top: 80%;
	background-color: #f6f6f6;
	height: 100vh;
	width: 100vw;
	-webkit-filter: blur(20px);
	filter: blur(10px);
}
*/

/*landing page*/

#landing {
	position: absolute;
	top: 50%;
	font-family: Georgia;
}

#my-name {
	font-size: 20px
}
